@import "tailwindcss";

@theme {
  --color-cyber-dark: #111827;
  --color-cyber-pink: #E91E63;
  --color-cyber-cyan: #00E5FF;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-cyber-dark);
  color: #e2e8f0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}